In [2]:
# This notebook fosuces on the data analysis and cleaning of the data.and
# The purpose is to prepare the data for the machine learning model.

In [3]:
#importing libraries 
import pandas as pd
import numpy as np
from random import randint

In [4]:
# set to display all columns
pd.set_option('display.max_columns', None)
# show all

In [5]:
# import the data 
# first the data from the houses of houses, then houses
houses = pd.read_csv('data/bolha_houses_1-50_15-09-2022_11-36-47.csv')
houses.drop('Unnamed: 0', axis=1, inplace=True)
print('houses: ')
houses.head()

houses:

,Cena,Približno,Neto cena,DDV,Bivalna površina,Število sob,Leto izgradnje,Vrsta ponudbe,Lokacija,Število nadstropij,Vrsta hiše (gradnja),Vrsta hiše,Neto površina,Površina parcele,Leto zadnje prenove,Opremljenost in stanje,Število parkirnih mest,Balkon / terasa / atrij,Zunanje površine in oprema,Vrsta cene,Oglas je objavljen,Do poteka še,Oglas je prikazan,Link,Šifra oglasa,Možnost menjave,Interna številka oglasa,Energetski razred
0,320.000 €,NaN,NaN,NaN,"200,00 m²",4,2013.0,Prodam,"Podravska, Pesnica pri Mariboru, Spodnje Dobrenje",Dvonadstropna,"Zidana hiša (beton, opeka)",Dvojček,"264,00 m²","1.300,00 m²",2013.0,Delno opremljeno,2,"Balkon, Terasa","Vrt/dvorišče, Lopa za shranjevanje",Skupna cena,15.09.2022. ob 08:08,Št. dni: 29 in 22 h,11 -krat,https://www.bolha.com/nepremicnine/lokacija-hi...,9961794,NaN,NaN,NaN
1,157.000 €,NaN,NaN,NaN,NaN,NaN,1966.0,Prodam,"Savinjska, Celje, Celje",NaN,NaN,Samostojna,"142,50 m²","898,00 m²",NaN,NaN,brez pripadajočega parkirišča,NaN,NaN,Skupna cena,15.09.2022. ob 00:17,do prodaje,46 -krat,https://www.bolha.com/nepremicnine/celje-hisa-...,9960899,Menjava za drugo nepremičnino ni možna,109210-114,NaN
2,1.590.000 €,NaN,NaN,NaN,"234,00 m²",5,2018.0,Prodam,"Goriška, Nova Gorica, Kromberk",NaN,NaN,Samostojna,"298,20 m²","2.860,00 m²",NaN,Popolnoma opremljeno,7+,"Balkon, Terasa","Vrt/dvorišče, Bazen",Skupna cena,15.09.2022. ob 00:17,do prodaje,23 -krat,https://www.bolha.com/nepremicnine/gorica-krom...,9960897,Menjava za drugo nepremičnino ni možna,106228-58,EI v izdelavi
3,Po dogovoru,NaN,NaN,NaN,"150,00 m²",6,1970.0,Prodam,"Pomurska, Murska Sobota, Murska Sobota",Enonadstropna,"Zidana hiša (beton, opeka)",Samostojna,"200,00 m²","700,00 m²",2014.0,Popolnoma opremljeno,2,"Balkon, Terasa, Loža","Vrt/dvorišče, Lopa za shranjevanje, Vrtna uta",Skupna cena,14.09.2022. ob 19:53,Št. dni: 29 in 10 h,155 -krat,https://www.bolha.com/nepremicnine/prodaja-sam...,9960290,NaN,NaN,NaN
4,250.000 €,NaN,NaN,NaN,"250,00 m²",8,2005.0,Prodam,"Pomurska, Radenci, Radenski Vrh",Dvonadstropna,"Zidana hiša (beton, opeka)",Samostojna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Skupna cena,14.09.2022. ob 19:26,Št. dni: 29 in 10 h,60 -krat,https://www.bolha.com/nepremicnine/lokacija-hi...,9960179,NaN,NaN,NaN

In [6]:
# if name of column exists, replace with new name from dictionary
def rename_columns(df, dictionary):
    for key, value in dictionary.items():
        if key in df.columns:
            df.rename(columns={key: value}, inplace=True)
    return df

In [7]:
new_column_names = {
  'Cena':           'Price', 
  'Približno':      'ApproximatePrice',
  'Neto cena':      'NetPrice',   
  'DDV':            'Tax', 
  'Bivalna površina':    'SurfaceArea',
  'Vrsta stanovanja':     'ApartmentType', 
  'Leto izgradnje':       'YearBuilt',
  'Vrsta ponudbe':        'OfferType', 
  'Lokacija':             'Location',
  'Umeščenost stanovanja':'ApartmentSetting', 
  'Nadstropje':           'FloorNumber', 
  'Skupno število nadstropij v stavbi':   'TotalFloorsInBuilding', 
  'Leto zadnje prenove':                  'YearRenovated',
  'Balkon / terasa / atrij':    'BalconyTerraceAtrium', 
  'Zunanje površine in oprema':'OutdoorFurniture', 
  'Vrsta cene': 'PriceType',
  'Oglas je objavljen' :'DatePosted',
  'Do poteka še':'ExpireDate',
  'Oglas je prikazan':'AdShowed',  
  'Link': 'Link',
  'Šifra oglasa': 'AdId',  
  'Opremljenost in stanje': 'Furniture', 
  'Število parkirnih mest':'ParkingSpots',
  'Možnost menjave': 'SwitchPosible',
  'Neto površina': 'NetArea',
  'Energetski razred':'EnergyClass',
  'Interna številka oglasa': 'InternalAdID',
  'type': 'ListingType', 
  'Število sob':'TotalRooms',
  'Število nadstropij':'TotalFloors',
  'Vrsta hiše (gradnja)': 'HouseMaterial', 
  'Vrsta hiše': 'HouseType',
  'Površina parcele':'LandArea'
}

In [8]:
# use new_column_names dictionary to rename columns
houses = rename_columns(houses, new_column_names)

In [9]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1235 entries, 0 to 1234
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Price                 1235 non-null   object
 1   ApproximatePrice      0 non-null      float64
 2   NetPrice              0 non-null      float64
 3   Tax                   0 non-null      float64
 4   SurfaceArea           874 non-null    object
 5   TotalRooms            790 non-null    object
 6   YearBuilt             1191 non-null   float64
 7   OfferType             1235 non-null   object
 8   Location              1235 non-null   object
 9   TotalFloors           526 non-null    object
 10  HouseMaterial         591 non-null    object
 11  HouseType             1143 non-null   object
 12  NetArea               713 non-null    object
 13  LandArea              914 non-null    object
 14  YearRenovated         432 non-null    float64
 15  Furniture             411 non-null    object
 16  ParkingSpots          399 non-null    object
 17  BalconyTerraceAtrium  417 non-null    object
 18  OutdoorFurniture      478 non-null    object
 19  PriceType             1235 non-null   object
 20  DatePosted            1235 non-null   object
 21  ExpireDate            1235 non-null   object
 22  AdShowed              1235 non-null   object
 23  Link                  1235 non-null   object
 24  AdId                  1235 non-null   int64
 25  SwitchPosible         226 non-null    object
 26  InternalAdID          884 non-null    object
 27  EnergyClass           518 non-null    object
dtypes: float64(5), int64(1), object(22)
memory usage: 270.3+ KB

In [10]:
# drop columns internaldID and link, DatePosted and ExpireDate, AdShowed, OfferType, , switchPosible, PriceType.
houses.drop(['InternalAdID', 'Link', 'DatePosted', 'ExpireDate', 'AdShowed', 'OfferType', 'SwitchPosible', 'PriceType','AdId'], axis=1, inplace=True)

# drop all features with more than 30% non-null values
houses.dropna(thresh=houses.shape[0]*0.3, axis=1, inplace=True)

# drop listings for which energy class contains string HR
houses = houses[houses['EnergyClass'] != 'HR']
houses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1235 entries, 0 to 1234
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Price                 1235 non-null   object
 1   SurfaceArea           874 non-null    object
 2   TotalRooms            790 non-null    object
 3   YearBuilt             1191 non-null   float64
 4   Location              1235 non-null   object
 5   TotalFloors           526 non-null    object
 6   HouseMaterial         591 non-null    object
 7   HouseType             1143 non-null   object
 8   NetArea               713 non-null    object
 9   LandArea              914 non-null    object
 10  YearRenovated         432 non-null    float64
 11  Furniture             411 non-null    object
 12  ParkingSpots          399 non-null    object
 13  BalconyTerraceAtrium  417 non-null    object
 14  OutdoorFurniture      478 non-null    object
 15  EnergyClass           518 non-null    object
dtypes: float64(2), object(14)
memory usage: 164.0+ KB

In [11]:
# trim the price column and remove . from the price column, set as type integer, replace prices with podogovoru with nan
houses['Price'] = houses['Price'].str.replace('.', '')
houses['Price'] = houses['Price'].str.replace('€', '')
houses['Price'] = houses['Price'].str.replace(' ', '')
houses['Price'] = houses['Price'].str.split(',').str[0]
houses['Price'] = houses['Price'].str.replace('Podogovoru', 'NaN')



# remove all spaces from the column
houses['Price'] = houses['Price'].str.replace(' ', '')

# if 'Nan' in the column, set the value to nan
houses['Price'] = houses['Price'].replace('NaN', np.nan)

# set the column as type integer
houses['Price'] = houses['Price'].fillna(0).astype(np.int64)

# drop all rows with nan values for Price
houses = houses[houses['Price'] != 0]

#  split SurfaceArea by " " and take only the first element, replace , with "", divide by 100 and round to create integer
houses['SurfaceArea'] = houses['SurfaceArea'].str.split(' ').str[0]
houses['SurfaceArea'] = houses['SurfaceArea'].str.replace(',', '')
houses['SurfaceArea'] = houses['SurfaceArea'].astype(float)

houses['SurfaceArea'] = (houses['SurfaceArea'].round(0)/100).round(0).fillna(0).astype(np.int64)

houses['LandArea'] = houses['LandArea'].str.split(' ').str[0]
houses['LandArea'] = houses['LandArea'].str.replace(',', '')
houses['LandArea'] = houses['LandArea'].astype(float)
houses['LandArea'] = (houses['LandArea'].round(0)/100).round(0).fillna(0).astype(np.int64)

#  split NetArea by " " and take only the first element, replace , with "", divide by 100 and round to create integer
houses['NetArea'] = houses['NetArea'].str.split(' ').str[0]
houses['NetArea'] = houses['NetArea'].str.replace(',', '')
houses['NetArea'] = houses['NetArea'].astype(float)
houses['NetArea'] = (houses['NetArea'].round(0)/100).round(0).fillna(0).astype(np.int64)

# convert YearBuilt, YearRenovated to int if not Nan
houses['YearBuilt'] = houses['YearBuilt'].fillna(0).astype(np.int64)
houses['YearRenovated'] = houses['YearRenovated'].fillna(0).astype(np.int64)



# display the first nad last 5 rows of the houses
houses[['Price', 'SurfaceArea', 'NetArea' ,'YearBuilt', 'YearRenovated']].iloc[[*range(5), *range(-5, 0)]]

C:\Users\Jernej\AppData\Local\Temp\ipykernel_8092\1486607593.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  houses['Price'] = houses['Price'].str.replace('.', '')

        Price  SurfaceArea  NetArea  YearBuilt  YearRenovated
0      320000          200      264       2013           2013
1      157000            0      142       1966              0
2     1590000          234      298       2018              0
4      250000          250        0       2005              0
5      149000           65      150       1974           2000
1230   141000          104        0       1995              0
1231   135000          113        0       1951           1995
1232   649000          259        0       1994              0
1233   250000          320        0       1978              0
1234   175000            0      236       1967           2002

In [12]:
# split location in multiple columns by comma
houses[['Region', 'District', 'Neighborhood']] = houses['Location'].str.split(',', expand=True)
houses.drop('Location', axis=1, inplace=True)
houses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1188 entries, 0 to 1234
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Price                 1188 non-null   int64
 1   SurfaceArea           1188 non-null   int64
 2   TotalRooms            756 non-null    object
 3   YearBuilt             1188 non-null   int64
 4   TotalFloors           486 non-null    object
 5   HouseMaterial         559 non-null    object
 6   HouseType             1097 non-null   object
 7   NetArea               1188 non-null   int64
 8   LandArea              1188 non-null   int64
 9   YearRenovated         1188 non-null   int64
 10  Furniture             382 non-null    object
 11  ParkingSpots          387 non-null    object
 12  BalconyTerraceAtrium  381 non-null    object
 13  OutdoorFurniture      446 non-null    object
 14  EnergyClass           501 non-null    object
 15  Region                1188 non-null   object
 16  District              1188 non-null   object
 17  Neighborhood          1188 non-null   object
dtypes: int64(6), object(12)
memory usage: 176.3+ KB

In [13]:
# if SurfaceArea is 0, set it to NetArea value
houses.loc[houses['SurfaceArea'] == 0, 'SurfaceArea'] = houses['NetArea']

# remove NetArea column
houses.drop('NetArea', axis=1, inplace=True)

In [14]:
# drop all rows with values for Price over 1 million and if price is less than 30000

houses = houses[houses['Price'] > 30000 ]
houses = houses[houses['Price'] < 500000]

In [15]:
houses.to_csv('./data/houses_cleaned.csv')